body{
  margin:0;
  font-family:Arial;
}

.main-bg{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(135deg, #00c6ff, #0072ff); /* 🔥 FIXED */
}

/* Box */
.container,.login-box{
  background:white;
  padding:20px;
  border-radius:12px;
  width:300px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

/* Grid */
.classes{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
}

/* Card */
.card{
  background:#0072ff;
  color:white;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

/* Button */
button{
  margin:5px;
  padding:8px;
  border:none;
  background:#0072ff;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

/* Input */
input,select{
  width:90%;
  padding:8px;
  margin:5px;
}

.error{
  color:red;
}
