body{
  margin:0;
  font-family:Arial;
}

.main-bg{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#00c6ff,#0072ff);
}

.container,.login-box{
  background:white;
  padding:20px;
  border-radius:12px;
  width:300px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.classes{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
}

.card{
  background:#0072ff;
  color:white;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
}

button{
  margin:5px;
  padding:8px;
  background:#0072ff;
  color:white;
  border:none;
  border-radius:8px;
}

input,select{
  width:90%;
  padding:8px;
  margin:5px;
}

.error{
  color:red;
}
